# Ignore node_modules folder
node_modules/

# Ignore logs and log files
logs/
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE settings
.idea/
.vscode/

# Ignore build and dist folders
build/
dist/
